# Do it! 쉽게 배우는 파이썬 데이터 분석 ch6. 자유자재로 데이터 가공하기

## 1. 데이터 전처리

- query() : 행 추출
- df[] : 열(변수) 추출
- sort_values() : 정렬
- groupby() : 집단별로 나누기
- assign() : 변수 추가
- agg() : 통계치 구하기
- merge() : 데이터 합치기 (열)
- concat() : 데이터 합치기 (행)

## 2. 조건에 맞는 데이터만 추출하기

In [1]:
# mount google drive
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/github_repo/colab-study-materials/doit_data_analysis

Mounted at /content/drive
/content/drive/MyDrive/github_repo/colab-study-materials/doit_data_analysis

In [2]:
import pandas as pd

exam = pd.read_csv('./files/04_csv_exam.csv')
exam.head()

  id  nclass  math  english  science
0  1     1.0  50.0     98.0     50.0
1  2     1.0  60.0     97.0     60.0
2  3     1.0  45.0     86.0     78.0
3  4     1.0  30.0     98.0     58.0
4  5     2.0  25.0     80.0     65.0

In [5]:
exam.query('nclass == 1').head()

  id  nclass  math  english  science
0  1     1.0  50.0     98.0     50.0
1  2     1.0  60.0     97.0     60.0
2  3     1.0  45.0     86.0     78.0
3  4     1.0  30.0     98.0     58.0

In [7]:
exam.query('nclass != 3').head()

  id  nclass  math  english  science
0  1     1.0  50.0     98.0     50.0
1  2     1.0  60.0     97.0     60.0
2  3     1.0  45.0     86.0     78.0
3  4     1.0  30.0     98.0     58.0
4  5     2.0  25.0     80.0     65.0

In [9]:
exam.query('math > 50').head()

    id  nclass  math  english  science
1    2     1.0  60.0     97.0     60.0
6    7     2.0  80.0     90.0     45.0
7    8     2.0  90.0     78.0     25.0
10  11     3.0  65.0     65.0     65.0
14  15     4.0  75.0     56.0     78.0

In [10]:
exam.query('nclass == 2 & math > 50').head()

  id  nclass  math  english  science
6  7     2.0  80.0     90.0     45.0
7  8     2.0  90.0     78.0     25.0

In [12]:
exam.query('nclass in [1, 3, 5]').head()

  id  nclass  math  english  science
0  1     1.0  50.0     98.0     50.0
1  2     1.0  60.0     97.0     60.0
2  3     1.0  45.0     86.0     78.0
3  4     1.0  30.0     98.0     58.0
8  9     3.0  20.0     98.0     15.0

In [17]:
pivot = 50
exam.query('math > @pivot').head()
# exam.query(f'math > {pivot}').head()

    id  nclass  math  english  science
1    2     1.0  60.0     97.0     60.0
6    7     2.0  80.0     90.0     45.0
7    8     2.0  90.0     78.0     25.0
10  11     3.0  65.0     65.0     65.0
14  15     4.0  75.0     56.0     78.0

## 3. 필요한 변수만 추출하기

In [19]:
exam['math'].head()

0    50.0
1    60.0
2    45.0
3    30.0
4    25.0
Name: math, dtype: float64

In [21]:
exam[['math']].head()

   math
0  50.0
1  60.0
2  45.0
3  30.0
4  25.0

In [20]:
exam[['math', 'english']].head()

   math  english
0  50.0     98.0
1  60.0     97.0
2  45.0     86.0
3  30.0     98.0
4  25.0     80.0

In [25]:
exam.drop(columns = ['math', 'english']).head()

  id  nclass  science
0  1     1.0     50.0
1  2     1.0     60.0
2  3     1.0     78.0
3  4     1.0     58.0
4  5     2.0     65.0

## 4. 순서대로 정렬하기

In [27]:
exam.sort_values('english', ascending=False).head()

    id  nclass  math  english  science
0    1     1.0  50.0     98.0     50.0
12  13     4.0  46.0     98.0     65.0
3    4     1.0  30.0     98.0     58.0
15  16     4.0  58.0     98.0     65.0
8    9     3.0  20.0     98.0     15.0

In [29]:
exam.sort_values(['nclass', 'math'],
                 ascending=[True, False]).head()

  id  nclass  math  english  science
1  2     1.0  60.0     97.0     60.0
0  1     1.0  50.0     98.0     50.0
2  3     1.0  45.0     86.0     78.0
3  4     1.0  30.0     98.0     58.0
7  8     2.0  90.0     78.0     25.0

## 5. 파생변수 추가하기

- exam['foo'] = foo 와 같은 식으로 추가는 영구, assign은 변환된 df를 반환

In [31]:
exam.assign(
    total1 = exam['math'] + exam['english'] + exam['science'],
    total2 = lambda x: x['math'] + x['english'] + x['science'],
    total3 = lambda x: x.math + x.english + x.science
).head()

  id  nclass  math  english  science  total1  total2  total3
0  1     1.0  50.0     98.0     50.0   198.0   198.0   198.0
1  2     1.0  60.0     97.0     60.0   217.0   217.0   217.0
2  3     1.0  45.0     86.0     78.0   209.0   209.0   209.0
3  4     1.0  30.0     98.0     58.0   186.0   186.0   186.0
4  5     2.0  25.0     80.0     65.0   170.0   170.0   170.0

In [42]:
exam.assign(
    total = lambda x: x.math + x.english + x.science,
    mean = lambda x: x.total / 3
).head()

  id  nclass  math  english  science  total       mean
0  1     1.0  50.0     98.0     50.0  198.0  66.000000
1  2     1.0  60.0     97.0     60.0  217.0  72.333333
2  3     1.0  45.0     86.0     78.0  209.0  69.666667
3  4     1.0  30.0     98.0     58.0  186.0  62.000000
4  5     2.0  25.0     80.0     65.0  170.0  56.666667

## 6. 집단별로 요약하기

agg에 자주 사용되는 요약 통계량 함수
- mean
- std
- sum
- median
- min
- max
- count

In [48]:
exam.agg(
    math_mean = ('math', 'mean')
)

            math
math_mean  57.45

In [50]:
exam.groupby('nclass')\
    .agg(mean_math=('math', 'mean'))

        mean_math
nclass
1.0         46.25
2.0         61.25
3.0         45.00
4.0         56.75
5.0         78.00

In [51]:
exam.groupby('nclass', as_index=False)\
    .agg(
        mean_eng=('english', 'mean'),
        mean_science=('science', 'mean')
    )

   nclass  mean_eng  mean_science
0     1.0     94.75         61.50
1     2.0     84.25         58.25
2     3.0     86.50         39.25
3     4.0     84.75         55.00
4     5.0     74.25         83.25

종합 테스트

- 제조 회사별로 'suv' 자동차의 도시 및 고속도로 합산 연비 평균을 구해 내림차순으로 정렬하고, 1~5위까지 출력하기

In [52]:
mpg = pd.read_csv('./files/mpg.csv')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [59]:
mpg.query('category == "suv"') \
    .assign(totaleff=lambda x: x.cty + x.hwy / 2) \
    .groupby('manufacturer', as_index=False) \
    .agg(totaleffmean=('totaleff', 'mean')) \
    .sort_values('totaleffmean', ascending=False) \
    .head()

  manufacturer  totaleffmean
8       subaru     31.333333
9       toyota     23.500000
7       nissan     22.750000
3         jeep     22.312500
6      mercury     22.250000

## 7. 데이터 합치기

가로로 합치기

In [64]:
test1 = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'nclass': [1, 1, 2, 2, 1],
    'midterm': [60, 80, 70, 90, 85]
})

test2 = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'final': [70, 83, 65, 95, 80]
})

total = pd.merge(test1, test2, how='left', on='id')
total

   id  nclass  midterm  final
0   1       1       60     70
1   2       1       80     83
2   3       2       70     65
3   4       2       90     95
4   5       1       85     80

In [65]:
name = pd.DataFrame({
    'nclass': [1, 2],
    'teacher': ['kim', 'lee']
})

total = pd.merge(total, name, how='left', on='nclass')
total

   id  nclass  midterm  final teacher
0   1       1       60     70     kim
1   2       1       80     83     kim
2   3       2       70     65     lee
3   4       2       90     95     lee
4   5       1       85     80     kim

세로로 합치기

In [67]:
group_a = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'score': [60, 80, 70, 85]
})

group_b = pd.DataFrame({
    'id': [5, 6, 7, 8],
    'score': [70, 83, 65, 96]
})

group_all = pd.concat([group_a, group_b])
group_all

   id  score
0   1     60
1   2     80
2   3     70
3   4     85
0   5     70
1   6     83
2   7     65
3   8     96

In [68]:
group_all = pd.concat([group_a, group_b], ignore_index=True)
group_all

   id  score
0   1     60
1   2     80
2   3     70
3   4     85
4   5     70
5   6     83
6   7     65
7   8     96